.App {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  &-logo {
    height: 39vmin;
  }
  &-header {
    background-color: #282c34;
    display: flex;
    min-width: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  &-link {
    color: #09d3ac;
  }
}
